page-home {
    .content {
        height: 100%;
        margin: 0px auto;     
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .logs {
        display: flex;
        flex-direction: column;
        margin: 30px 0;
        min-height: 200px;
        background-color: #48B3A1;
        color: #222222;
        padding: 5px;

        .log-string {
            margin-top: 15px;
        }

        .log-title-string {
            color: #000000;
        }
    }
}
