<ion-header>
    <ion-navbar>
        <ion-title>
            Scanner
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="content">

        <div class="logs" [hidden]="!showLogs">
            <h4 class="log-title-string">
                Logs here:
            </h4>
            <h6 id="log-text" class="log-string">
                {{ logString }}
            </h6>
        </div>

        <div class="iframe-container" [hidden]="!showIframe">
            <!-- <object data="https://app-aadpillar-dev-shopsetupweb.azurewebsites.net" width="600" height="400">
                <embed src="https://app-aadpillar-dev-shopsetupweb.azurewebsites.net" width="600" height="400"/>
            </object> -->
            <iframe id="shop-setup-frame" allow="geolocation" [src]="shopSetupSafeUrl"  width="100%" height="100%"> 
            </iframe>
            <!-- <object type="text/html" data="https://app-aadpillar-dev-shopsetupweb.azurewebsites.net" width="800px" height="600px">
            </object> -->
        </div>

        <!-- <div class="iframe-container" [hidden]="!showIframe">
            <object data="http://localhost:4200/" width="600" height="400">
                <embed src="http://localhost:4200/" width="600" height="400"/>
            </object>
            <iframe id="shop-setup-frame" allow="geolocation" [src]="shopSetupSafeUrl"  width="100%" height="100%" sanbox> 
            </iframe>
            <object type="text/html" data="http://localhost:4200/" width="800px" height="600px">
            </object>
        </div> -->

        <div class="camera-container" *ngIf="cameraIsOpen" [hidden]="showLogs">
            <div class="camera" [hidden]="!showCamera1">
                <img [src]="photo1" />
                <div class="btn-container">
                    <button class="btn" (click)="takePicture1()">
                        Take a picture
                    </button>
                    <button class="btn" (click)="closeCameraLayout()">
                        Close
                    </button>
                </div>
            </div>
            <div class="camera" [hidden]="!showCamera2">
                <img [src]="photo2" />
                <div class="btn-container">
                    <button class="btn" (click)="takePicture2()">
                        Take a picture
                    </button>
                    <button class="btn" (click)="closeCameraLayout()">
                        Close
                    </button>
                </div>
            </div>
            <div class="camera" [hidden]="!showCamera3">
                <img [src]="photo3" />
                <div class="btn-container">
                    <button class="btn" (click)="takePicture3()">
                        Take a picture
                    </button>
                    <button class="btn" (click)="closeCameraLayout()">
                        Close
                    </button>
                </div>
            </div>
        </div>
        
        <div class="btn-container">
            <button class="btn" (click)="toggleLogs()">
                {{ logsBtnTitle }}
            </button>
            <button class="btn" (click)="openCamera1()" *ngIf="!cameraIsOpen">
                Cam 1
            </button>
            <button class="btn" (click)="openCamera2()" *ngIf="!cameraIsOpen">
                Cam 2
            </button>
            <!-- <button class="btn" (click)="openCamera3()" *ngIf="!cameraIsOpen">
                Cam 3
            </button> -->
        </div>
        
         <!-- <img [src]="photo" /> -->
    </div>
</ion-content>